@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    padding: 2rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .animate-gradient {
    animation: gradient 20s linear infinite;
  }
}

